body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #efe5d5;
}

#resetButton, #cardDescriptions {
  display: none;
}
div#1, div#2, div#3, div#4, div#5{
  height: auto; 
  width: auto; 
  max-width: 20%; 
  max-height: 100%;
}

div#1 img, div#2 img, div#3 img, div#4 img, div#5 img{
  height: auto; 
  width: auto; 
  max-width: 20%; 
  max-height: 100%;
}

div#1, div#2, div#3, div#4, div#5{
  height: auto; 
  width: auto; 
  max-width: 20%; 
  max-height: 100%;
}

#introImage{
  width:100%;
  padding:16pt;
  display: block;
  text-align: center;
  height: auto;
}
#introImage img{
  height: auto; 
  width: auto; 
  max-width: 100%; 
  max-height: 100%;
}
div.header{
  display:inline-block;
  text-align:center;
  padding: 16pt;
  width: 100%;
}

a {
  color: #00B7FF;
}

form {
  border: 3px solid #f1f1f1;
}

button {
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 30%;
  text-decoration-color: black;
}

a:link, a:visited, a:hover, a:active,{
  color:white;
  text-decoration: none;
}